body {
  background: #fff url(../img/triangles-teal.jpg) no-repeat center top;
  background-size: 100% auto;
}

.navbar .btn-secondary {
  border-color: #fff;
  color: #fff !important;
}

.navbar .btn-secondary:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.6) !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.jumbotron {
  padding: 10rem 0 10rem 0;
  margin: 0;
  background-color: transparent;
}

.jumbotron .btn-secondary {
  border-color: #292b2c;
  color: #292b2c !important;
}

.jumbotron .btn-secondary:hover {
  background-color: transparent;
  border-color: rgba(41, 43, 44, 0.6) !important;
  color: rgba(41, 43, 44, 0.6) !important;
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1
}

.display-6 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.1
}

.fa {
  font-size: 5rem;
  width: 9rem;
  height: 9rem;
  border-radius: 4.5rem;
  color: #0b6c8f;
}
